@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-950: #f1f5f9;
    --background-900: #ffffff;
    --background-800: #cbd5e1;
    --typography-950: #0f172a;
    --typography-900: #334155;
    --typography-400: #64748b;
    --outline-900: #e2e8f0;
  }

  .dark {
    --background-950: #030712;
    --background-900: #111827;
    --background-800: #1f2937;
    --typography-950: #fafafa;
    --typography-900: #f5f5f5;
    --typography-400: #a3a3a3;
    --outline-900: #111827;
  }

  body {
    @apply transition-colors duration-300;
    background-color: var(--background-950);
    color: var(--typography-900);
  }
}
